<h1>Enter Events</h1>

<%= form_for :event_set, url: event_sets_path do |f| %>
  <p>
    Events should be of format '<i>FROM_DATE_TIME</i> to <i>TO_DATE_TIME</i>' where <i>FROM_DATE_TIME</i> and <i>TO_DATE_TIME</i> are dates of the form: '<i>YYYYMMDD</i>T<i>HHMMSS</i>Z'.<br />
    Example: 19970714T170000Z to 19970714T180000Z
  </p>

  <p>
    Multiple events may be separated by new line, comma or spaces.
  </p>

  <p>
    <%= f.label :event_string %><br />
	<%= f.text_area :event_string, value: '20160725T160000Z to 20160725T170000Z' %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
