<h1>Enter Events</h1>

<%= form_for :event_set, url: event_sets_path do |f| %>
  <p>
    Dates should be of format: <i>YYYYMMDD</i>T<i>HHMMSS</i>Z<br />
    Example: 19970714T170000Z to 19970714T180000Z
  </p>

  <p>
    <%= f.label :event_string %><br />
	<%= f.text_area :event_string, value: '20160725T160000Z to 20160725T170000Z' %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
